<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        department
    </amexio-header>
    <amexio-body>
        <amexio-text-input [field-label]="'id'" [(ngModel)]="Department.Id" name="Department.Id" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
        <amexio-text-input [field-label]="'name'" [(ngModel)]="Department.name" name="Department.name" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>

    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'save'" [type]="'default'" [tooltip]="'button'" [size]="'default'" [form-bind]="'save'" (onClick)="onClick_save($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>
<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>